.box{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    background-color: plum;
    width: 800px;
    padding: 50px;
    margin: 200px auto;
    height: 200px;
}
.btn{
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 14px;
    font-size: 16px;
    width: 200px;
}
.text{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}